<template lang="pug">
div
  header
    .container
      h1.logo Vallet

      select.selector(v-model="selected")
        option(v-for="coin in Object.keys(this.cryptos)" :selected="coin === selected") {{ coin }}

  main
    .container
      cinput(v-model="input" :type="type" :strength="strength" :invalid="invalid")

      .output(v-if="keys")
        p.hex hex {{ hex }}
        p.hr rep {{ repeatedPatternsInHex }}
        .addr
          key.address(:k="keys.address")
          key.priv(:k="keys.privateKey")
</template>

<script>
import bigInt from 'big-integer'

import cinput from 'c/input'
import key from 'c/key'

String.prototype.hexEncode = function(){
    var hex, i;

    var result = "";
    for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += ("000"+hex).slice(-4);
    }

    return result
}

String.prototype.hexDecode = function(){
    var j;
    var hexes = this.match(/.{1,4}/g) || [];
    var back = "";
    for(j = 0; j<hexes.length; j++) {
        back += String.fromCharCode(parseInt(hexes[j], 16));
    }

    return back;
}

function parseBigInt(str, base=10) {
  base = BigInt(base)
  var bigint = BigInt(0)
  for (var i = 0; i < str.length; i++) {
    var code = str[str.length-1-i].charCodeAt(0) - 48; if(code >= 10) code -= 39
    bigint += base**BigInt(i) * BigInt(code)
  }
  return bigint
}


export default {
  data () {
    return {
      selected: 'bitcoin',
      input: '',
      _invalid: false,
      cryptos: {
        bitcoin: {},
        nano: {}
      }
    }
  },
   computed: {
    type () {
      const { input } = this

      return /[^\u0000-\u00ff]/.test(input) ?
        'utf8' :
        /^[a-zA-Z\s]+$/.test(input) ?
          'alpha' :
          /^[0-1]{1,}$/.test(input) ?
            'binary' :
            /^\d+$/.test(input) ?
              'numeric' :
              /^[0-9a-zA-Z\s]+$/.test(input) ?
                'alphanumeric' :
                'empty'
    },
    invalid () {
      return this._invalid || String(this.input) === '0' || !this.input
    },
    strength () {
      // switch (this.type) {
      //   case 'numeric':
      //     return parseInt(Number(String(this.input).length) * 1.23)
      // }
      // return 10
      const { length } = this.hex
      return parseInt(Number(length) * 1.5)
    },
    repeatedPatternsInHex () {
      // const regex = /(.+)(\W|^)s\2/ig
      const regex = /(.)\1{2}/
      return (String(this.hex).match(regex) || []).join('')
    },
    hex () {
      switch (this.type) {
        case 'numeric':
          return bigInt(this.input).toString(16)

        case 'binary':
          return parseBigInt(this.input, 2).toString(16)

        case 'utf8':
          return String(this.input).hexEncode()

        case 'alpha':
        case 'alphanumeric':
          return Buffer.from(this.input).toString('hex')
      }
      return ''
    },
    keys () {
      if (!this.hex) return
      try {
        const h = require(`../libs/${this.selected}`).default(this.hex)
        this._invalid = false
        return h
      } catch (e) {
        console.error('INV', e)
        this._invalid = true
      }
    }
  },
  components: {
    key,
    cinput
  }
}
</script>

<style lang="stylus">
@require '../assets/index'

.addr
  flex 0 0 100%
  border 1px solid
  padding 20px
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  margin auto
  position relative
  text-align center

  &ess
    width 100%
    font-size 11px

  .priv
    font-size 9px
</style>
