<template lang="pug">
form.input(:class="{ invalid, visible }" @submit.prevent="ret" spellcheck="false")
  label Input
  div
    textarea(
      placeholder="Brain wallet, Seed phrase, BIP39 words, BigInt, Hex or Binary"
      @input=       "$emit('input', $event.target.value)"
      :value=       "value"
      v-if=         "visible"
    )
    input(
      v-else
      type="password"
      :value="value"
      @input="$emit('input', $event.target.value)"
    )

    button.vis(@click="visible = !visible") Switch visibility

    .stats
      span.type {{ this.type }}
      smeter(:progress="strength")
      span.limit(v-if="value && limit") {{ value.length }} / {{ limit }}

  button(v-if="!invalid") Check balance
</template>

<script>
import smeter from 'c/meter'

export default {
  data () {
    return {
      visible: false
    }
  },
  methods: {
    ret () {
      return false
    }
  },
  props: {
    value: {
      type: String,
      default: null
    },
    invalid: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: ''
    },
    strength: {
      type: Number,
      default: 0
    },
    limit: {
      type: Number
    }
  },
  components: {
    smeter
  }
}
</script>

<style lang="stylus" scoped>
bg = #fafafa

.input
  > div
    position relative
    margin-bottom 20px

  > button
    border 2px solid
    padding 8px 12px
    font-weight bold

  .stats
    display flex
    flex-flow row nowrap
    background-color: bg
    border-bottom-radius 5px
    border 1px solid rgba(black, .05)
    padding 2px
    padding-left 12px
    padding-right 12px
    align-items center
    margin-top -4px

    span
    small
      font-style italic
      font-weight 400
      font-size 12px
      color rgba(black, .75)

      &:not(:first-child)
        margin-left 20px


    span.limit
      margin-left auto

  textarea
  input[type="password"]
    padding 12px 80px 12px 12px
    border-top-radius 5px
    width 100%
    font-size 13px
    color #666
    line-height 16px
    background: bg
    border 1px solid rgba(black, .05)
    border-bottom 0

  textarea
    max-height 200px
    height 100px

  .vis
    position absolute
    top 8px
    right 8px
    size 24px
    text-align right
    font-size 0
    padding 0

    &:before
      content ''
      size 20px
      background-image embedurl('~assets/icons/eye.svg')
      background-size 20px
      background-repeat no-repeat
      display block
      opacity .5

    &:hover:before
      opacity .75

  &.invalid
    textarea
    input[type="password"]
      border-color red

    .stats
      border-left-color red
      border-right-color red
      border-bottom-color red

  &.visible
    .vis
      &:before
        background-image embedurl('~assets/icons/eye-hide.svg')
</style>
