<template lang="pug">
.k
  qr(:text="k")
  .text(@click="copyToClipboard")
    span {{ first }}
    button.expand(v-if="!expanded" @click="expanded = true") ...
    span(v-else) {{ middle }}
    span {{ last }}
</template>

<script>
import qr from 'c/qr'

export default {
  data () {
    return {
      expanded: false
    }
  },
  props: {
    k: {
      type: String,
      required: true
    }
  },
  computed: {
    first () {
      return this.k.substr(0, 4)
    },
    middle () {
      return this.k.substr(4, this.k.length - 4 - 4)
    },
    last () {
      return this.k.substr(this.k.length - 4, this.k.length)
    }
  },
  methods: {
    copyToClipboard () {
      console.log('copying', this.k)
    }
  },
  components: {
    qr
  }
}
</script>

<style lang="stylus">
.k
  canvas
    margin 0 auto

  .text
    cursor pointer
    padding 4px
    white-space nowrap
    text-align center
</style>
