<template lang="pug">
span#meter(v-if="progress" :progress="parseInt(Number(8 - (amount - progress) / 12)) || 1")
  span(v-for="i in 8")
</template>


<script>
export default {
  props: {
    amount: {
      type: Number,
      default: 100
    },
    progress: {
      type: Number
    }
  }
}
</script>

<style lang="stylus" scoped>
h = 10px

#meter
  width 80px
  height: h
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4px
  grid-row-gap: 0px;

  for i in (1..8)
    &[progress=\"{i}\"]
      > span:nth-child(-n+{i})
        if (i < 5)
          background-color red
        else if (i < 7)
          background-color goldenrod
        else if (i <= 8)
          background-color green

  > span
    position: relative;
    border-radius 3px
    padding: 1px 1px;
    transform: skewX(30deg);
    background-color gray
    line-height: h

    &:before
      position: absolute;
      top: 0; left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: h;
      // background-image: linear-gradient( 0deg, var(--health-level-1) 0%, var(--health-level-2) 84% );

</style>
