<template lang="pug">
canvas.qr
</template>

<script>
const QRCode = require('qrcode')

const doQR = (el, text) => {
  QRCode.toCanvas(el, text, function (error) {
    if (error) console.error(error)
    console.log('success!');
  })
}

export default {
  props: {
    text: {
      type: String
    }
  },
  mounted () {
    if (this.text) {
      doQR(this.$el, this.text)
    }
  },
  watch: {
    text: function (n, o) {
      doQR(this.$el, n)
    }
  }
}
</script>
