html
  text-size-adjust 100%

body
  margin 0
  padding 0
  font-size 16px

body
h1
p
label
textarea
  font-family 'IBM Plex Mono'\, Consolas\, Monaco\, 'Andale Mono'\, 'Ubuntu Mono'\, monospace

*
*:before
*:after
  margin 0
  box-sizing border-box

input
select
textarea
  outline none
  margin 0

select
  appearance none

button
  outline none
  box-shadow none
  border none
  background transparent
  padding 4px 8px

small
  font-size 10px

a
button
  cursor pointer

header
  text-align center

label
  margin-bottom 8px
  font-size 13px
  font-weight 600
  display block

.input
  position relative
  margin-bottom 40px

.container
  padding 0 12px
  margin 0 auto

  +above(m)
    padding-left 20px
    padding-right 20px

  +above(l)
    padding-left 32px
    padding-right 32px

  +above(xl)
    padding 0
    max-width 900px


main
  margin-top 60px

  .container
    display flex
    flex-flow row wrap

    .input
      flex-basis 100%

      +above(l)
        flex 0 0 65%

    .output
      margin auto
      max-width 100%
      overflow hidden
      +above(l)
        flex-basis 200px
        margin-right 0
